.codeAria {
  background-color: #90cddc !important;
  color: #054700;
  width: 100%;
  min-height: 50px;
  font-size: 18pt;
}

.documentItem {
  margin: 3px 3px 3px;
  padding: 25px 3px 3px;
  width: 100%;
  background-color: #d1e2ff;

}

.documentItemList {
  margin-right: 12px;
  list-style-type: none;
  padding: 0;
}

button{
  margin: 7px;
}

label{
  margin: 7px;
}
